.center-div {
    margin: auto;
    vertical-align: middle;
    display: flexbox;
}

.center-of-page {
    display:flexbox;
    justify-content:center;
    align-items:center;
}

.nav-item a {
    color: white;
}

.nav-active {
    color: #f0ad4e !important;
}