<!DOCTYPE html>
<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>BrIW!</title>
      {% endif %}
      <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>BrIW</title>
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
      <div class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="nav-item navbar-brand navbar-dark">
          <a href="/" style="color: #f0ad4e;">BrIW</a>
        </div>
        <div class="nav-item navbar-brand">
          <a href="/people">People</a>
        </div>
        <div class="nav-item navbar-brand">
          <a href="/drinks">Drinks</a>
        </div>
        <div class="nav-item navbar-brand">
          <a href="/rounds/">Rounds</a>
        </div>
      </div>
        {% block body %}

        {% endblock %}
    </body>
</html>
