{% extends "master.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="center-div table" style="display: flexbox;">
                    <thead>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Favourite Drink</th>
                    </thead>
                    <tbody>
                        {% for person in people %}
                            <tr>
                                <th scope="col">{{person.id}}</th>
                                <td>{{person.full_name}}</td>
                                {% if person.fav_drink %}
                                    <td>{{person.fav_drink.name}}</td>
                                {% else %}
                                    <td>No Preference</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2">
                <form id="add_person_form" style="display: flexbox;">
                    <div class="center-div" style="display: flexbox; text-align: center;">                        
                        <table class="center-div">
                            <tr>
                                <td>
                                    <legend style="text-align: center;">Add New Person</legend>
                                </td>
                            </tr>
                            <tr>                  
                                <td>
                                    <input id="first_name" type="text" name="person_name" placeholder="First Name" style="width: 100%;"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="last_name" type="text" name="last_name" placeholder="Last Name" style="width: 100%;"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="fav_drink" name="fav_drink">
                                        <option value="-1">-- No Preference --</option>
                                        {% for drink in drinks %}
                                            <option value="{{drink.id}}">{{drink.name}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <input id="submit_btn" type="submit" value="Submit" class="btn btn-warning btn-sm" style="align-self: center; margin-top: 10px; width: 100%;">
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>    
            </div>
        </div>
    </div>
    <script src="/static/people.js"></script>
{% endblock %}