{% extends "master.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="center-div table" style="display: flexbox;">
                    <thead>
                        <th scope="col"></th>
                        <th scope="col">#</th>
                        <th scope="col">Initiator</th>
                        <th scope="col">Round Active</th>
                        <th scope="col">Start/Submit Time</th>
                    </thead>
                    <tbody>
                        {% for round in rounds %}
                            <tr>
                                <th scope="col">
                                    <input type="button" value="View" class="btn btn-warning"/>
                                </th>
                                <td>#{{round.id}}</th>
                                <td>{{round.initiator}}</td>
                                <td>{{round._active}}</td>
                                <td>{{round.start_time_UTC}}</td>                            
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3">
                <form id="add_drink_form" style="display: flexbox;">
                    <div class="center-div" style="display: flexbox; text-align: center;">
                        <table class="center-div">
                            <tr>
                                <td>
                                    <legend style="text-align: center;">Add New Drink</legend>
                                </td>
                            </tr>
                            <tr>                  
                                <td>
                                    <input id="name" type="text" name="name" placeholder="Drink Name" style="width: 100%;"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="instructions" type="text" name="instructions" placeholder="Instructions" style="width: 100%;"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <input id="submit_btn" type="submit" value="Submit" class="btn btn-warning btn-sm" style="align-self: center; margin-top: 10px; width: 100%;">
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>    
            </div>
        </div>
    </div>

    <script src="/static/rounds.js"></script>
{% endblock %}